@mixin dark-theme {
 &.dark-theme {
  //*> Global Styles for Dark Theme
  background-color: $dark-background-primary;

  h1,
  h2,
  h3,
  h4 {
   color: $dark-title-primary;

   span {
    color: $dark-title-secondary;
   }
  }

  p {
   color: $dark-text-primary;

   span {
    color: $dark-text-secondary;
   }
  }

  //*> Custom Classes for Dark Theme
  div {
   &:nth-child(2) {
    background-color: $dark-background-secondary;
   }
   &:nth-child(3) {
    background-color: $dark-background-tertiary;
   }
   &:nth-child(4) {
    background-color: $dark-background-fourth;
   }
  }
 }
}
