@mixin light-theme {
 //*> Global Styles for Light Theme
 &.light-theme {
  background-color: $light-background-primary;

  h1,
  h2,
  h3,
  h4 {
   color: $light-title-primary;

   span {
    color: $light-title-secondary;
   }
  }

  p {
   color: $light-text-primary;

   span {
    color: $light-text-secondary;
   }
  }

  //*> Custom Classes for Light Theme
  //*> Custom Classes for Dark Theme
  div {
   &:nth-child(2) {
    background-color: $light-background-secondary;
   }
   &:nth-child(3) {
    background-color: $light-background-tertiary;
   }
   &:nth-child(4) {
    background-color: $light-background-fourth;
   }
  }
 }
}
