$_box-base: 1.3rem;

$mrg-min: $_box-base * 0.25;
$mrg-quarter: $_box-base * 0.5;
$mrg-half: $_box-base * 0.75;
$mrg-base: $_box-base;
$mrg-onehalf: $_box-base * 1.5;
$mrg-double: $_box-base * 2;
$mrg-triple: $_box-base * 3;
$mrg-fourth: $_box-base * 4;
$mrg-fifthe: $_box-base * 5;

$pad-min: $_box-base * 0.25;
$pad-quarter: $_box-base * 0.5;
$pad-half: $_box-base * 0.75;
$pad-base: $_box-base;
$pad-onehalf: $_box-base * 1.5;
$pad-double: $_box-base * 2;
$pad-triple: $_box-base * 3;
$pad-fourth: $_box-base * 4;
$pad-fifthe: $_box-base * 5;
