// Colors of the dark theme
$dark-background-primary: #0d161c;
$dark-background-secondary: #111b22;
$dark-background-tertiary: #17232b;
$dark-background-fourth: rgba(#26323d, 0.2);
$dark-title-primary: #fcfdfd;
$dark-title-secondary: #0a74c0;
$dark-text-primary: #e9e9e9;
$dark-text-secondary: #0a74c0;

// Colors of the light theme
$light-background-primary: #fcfdfd;
$light-background-secondary: rgba(#0d161c, 0.15);
$light-background-tertiary: rgba(#111b22, 0.1);
$light-background-fourth: rgba(#70a1ff, 0.15);
$light-title-primary: #222222;
$light-title-secondary: #0a74c0;
$light-text-primary: #222222;
$light-text-secondary: #0a74c0;

// Default Colors
$background-button: #258bd4;
$background-button-hover: #35a9fd;
