* {
 box-sizing: border-box;
 border: none;
 font-family: var(--font-robotoCondensed);
 list-style: none;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 scroll-padding-top: $mrg-fifthe;
 text-decoration: none;
}

h1,
h2 {
 @include title;
}

h3,
h4 {
 @include subtitle;
}

p {
 @include text;
}

main {
 left: 0;
 min-height: 100vh;
 position: absolute;
 padding: 0 $pad-base;
 padding-top: $mrg-fifthe;
 top: 0;
 width: 100%;

 button {
  background-color: $background-button;
 }

 @include light-theme;
 @include dark-theme;
}

// Theme Test Styles
section,
div {
 border-radius: 5px;
 margin-bottom: $mrg-double;
 position: relative;
 padding: $pad-base;
 text-align: center;
 width: 100%;
}

section {
 img {
  height: 250px;
  width: 250px;
 }

 div {
  display: flex;
  justify-content: center;
  margin-top: $mrg-half;
  margin-bottom: 0;

  button {
   border-radius: 5px;
   color: #ededed;
   cursor: pointer;
   font-size: toRem(1);
   font-weight: 500;
   margin: 0 $mrg-half;
   padding: $pad-quarter $pad-base;
  }
 }
}
