* {
 box-sizing: border-box;
 border: none;
 font-family: var(--font-robotoCondensed);
 list-style: none;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 scroll-padding-top: $mrg-fifthe;
 text-decoration: none;
}

h1,
h2 {
 @include title;
}

h3,
h4 {
 @include subtitle;
}

p {
 @include text;
}

main {
 left: 0;
 min-height: 100vh;
 position: absolute;
 padding: 0 $pad-base;
 padding-top: $mrg-fifthe;
 top: 0;
 transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
 width: 100%;

 button {
  background-color: $background-button;
 }

 @include light-theme;
 @include dark-theme;
}
