$transition-theme: all 0.55s cubic-bezier(0.267, 0.307, 0.621, 0.745);
$transition-primary: all 0.25s cubic-bezier(0.17, 0.67, 0.8, 0.62);
$transition-secondary: all 0.35s cubic-bezier(0.17, 0.67, 0.8, 0.62);
$transition-tertiary: all 0.45s cubic-bezier(0.17, 0.67, 0.8, 0.62);
$transition-fourth: all 0.35s cubic-bezier(0.455, 0.565, 0.675, 1);
